<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asta Chiusa - Dettagli</title>
</head>
<body>
    <div class="menu">
        <p>
            <a th:href="@{/GoToHome}">Homepage</a>
            <a th:href="@{/GoToSell}">Vendo</a>
            <a th:href="@{/GoToPurchase}">Acquisto</a>
            <a th:href="@{/Logout}">logout</a>
        </p>
    </div>
    <h2>Vincitore</h2>
    <hr>
    <div th:if="${offer == null}" class="winner-details">
        <p>
            <a th:text="${'Nessuna offerta'}"></a>
        </p>
    </div>
    <div th:if="${offer != null}" class="winner-details">
        <p>
            <a th:text="${'Nome vincitore: '}"></a>
            <a th:text="${offer.getUserUserName()}"></a>
        </p>
        <p th:text="${'Offerta vincente: ' + offer.getAmount()}"></p>
        <p th:text="${'Indirizzo di spedizione: ' + offer.getSh_address()}"></p>
    </div>
    <h2>Dettagli Asta</h2>
    <hr>
    <div class="details">
        <p th:text="${'Data di Inizio: ' + auction.getStart_date()}"></p>
        <p th:text="${'Data di Fine: ' + auction.getEnd_date()}"></p>
        <p th:text="${'Prezzo iniziale: ' + auction.getInitial_price()}"></p>
        <p th:text="${'Rialzo minimo: ' + auction.getMin_rise()}"></p>
        <p th:text="${'Nome Articolo: ' + auction.getName()}"></p>
        <p th:text="${'Codice Articolo: ' + auction.getItem_id()}"></p>
        <p th:if="${ (auction.getDescription() != null) && (! auction.getDescription().isEmpty()) }" th:text="${'Descrizione: ' + auction.getDescription()}"></p>
        <div class="image" th:if="${auction.getPicture() != null}">
            <img th:src="*{'data:image/jpeg;base64,' + auction.getBase64Picture()}" alt="picture">
        </div>
    </div>
    <hr>
    <div class="back-button">
        <a th:href="@{/GoToSell}">
            <button th:text="'Indietro'"></button>
        </a>
    </div>
</body>
</html>